.blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    background-color: #111;
    color: white;
    padding: 2em;
    width: 100%;
    max-width: 48rem;
    border-radius: 20px;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        top: calc(50% - 2.5rem);
        z-index: -1;
        width: calc(50% + 2.5rem);
        height: calc(50% + 2.5rem);
        background-image: radial-gradient(
            circle at center,
            yellow 0,
            yellow 1px,
            black 1px,
            black 100%);
        background-repeat: repeat;
        background-position: left center;
        background-size: 15px 15px;
        margin-left: -2.5em;
        margin-top: 2.5em;
    }
}