@media (min-width: 736px) {

    body {
        display: grid;
        align-items: center;
    }

    .App {
        padding-inline: 2em;
    }

    .blog-wrapper {

        @for $i from 1 through 4 {
            &:nth-of-type(#{$i + 2}) {
                margin-top: 2em;
            }
        }
    }

}